/*
 * SPDX-FileCopyrightText: 2023 Jeff Epler <jepler@gmail.com>
 *
 * SPDX-License-Identifier: MIT
 */

MarkdownViewer { height: auto; scrollbar-gutter: auto; }
.role_system {
    text-style: italic;
}
.role_user {
    text-style: bold;
}
MarkdownViewer:focus-within { border-left: heavy $accent; }
MarkdownViewer { border-left: heavy transparent; }
Footer { dock: top; }
Input {
    dock: bottom;
}

Markdown {
    margin: 0 0 0 1;
}
